<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="section-hero hero-tellu">
  <div class="container">
    <div class="col lg-6 md-12">
      <h1 class="hero-title">Building outstanding software with clean code using updated technology</h1>
      <div class="paragraph-medium margin-bottom">We charge forward, staying on the cutting edge of digital innovations and making waves in our industry</div>
      <div class="container hero-button-container">
        <a href="#" class="button-primary-3 w-inline-block">
          <div class="button-text">let&#x27;s strategize</div>
        </a><a href="#" class="lightbox-link w-inline-block w-lightbox"><img src="img/play-button.svg" width="46" alt=""><script type="application/json" class="w-json">{
"items": [
  {
    "type": "video",
    "originalUrl": "https://www.youtube.com/watch?v=peVpXjb4bJ8",
    "url": "https://www.youtube.com/watch?v=peVpXjb4bJ8",
    "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FpeVpXjb4bJ8%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DpeVpXjb4bJ8&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FpeVpXjb4bJ8%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
    "thumbnailUrl": "https://i.ytimg.com/vi/peVpXjb4bJ8/hqdefault.jpg",
    "width": 940,
    "height": 528
  }
]
}</script></a></div>
    </div>
  </div>
  <div class="bg-hero"></div>
</div>

<div class="blob-divider"></div>

<div class="section bg-memphis-2">
  <div class="container">
    <div class="col lg-4 xs-12">
      <div class="iconbox-2"><img src="img/service-2.svg" alt="" class="service-image">
        <h3>Software Development</h3>
        <div class="margin-bottom">Etiam porta sem malesuada magna mollis euismod.</div>
        <a href="#" class="readmore w-inline-block">
          <div class="read-more-3">Read More</div>
        </a>
      </div>
    </div>
    <div class="col lg-4 xs-12">
      <div class="iconbox-2"><img src="img/service-1.svg" alt="" class="service-image">
        <h3>Software Integration</h3>
        <div class="margin-bottom">Nulla vitae elit libero,asdisic, a pharetra augue.</div>
        <a href="#" class="readmore w-inline-block">
          <div class="read-more-3">Read More</div>
        </a>
      </div>
    </div>
    <div class="col lg-4 xs-12">
      <div class="iconbox-2"><img src="img/service-3.svg" alt="" class="service-image">
        <h3>Software Maintanance</h3>
        <div class="margin-bottom">Etiam porta sem malesuada magna mollis euismod.</div>
        <a href="#" class="readmore w-inline-block">
          <div class="read-more-3">Read More</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container margin-bottom">
    <div class="col lg-12">
      <h2 class="section-heading center-text">Our Projects</h2>
      <div class="paragraph-medium short-description align-center text-center">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur.</div>
    </div>
  </div>
  <div class="container">
    <div class="col lg-12">
      <div class="w-layout-grid grid-project">
        <div id="w-node-cca2dfc6e299-48b0a555" data-w-id="f8c47c01-6d4e-7b7b-322c-cca2dfc6e299" class="project-item-container">
          <a style="-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" href="#" class="project-item-text w-inline-block">
            <div class="project-item-text-detail">Ring and Tower</div>
            <div class="project-item-text-detail-2">Facebook Campaign</div>
          </a>
        </div>
        <div id="w-node-8230695a2f1c-48b0a555" data-w-id="36e87349-b2c2-afb3-8194-8230695a2f1c" class="project-item-container three">
          <a style="-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" href="#" class="project-item-text w-inline-block">
            <div class="project-item-text-detail">The Flapping Bridge&#x27;s Day</div>
            <div class="project-item-text-detail-2">Press release</div>
          </a>
        </div>
        <div id="w-node-90264208d62e-48b0a555" data-w-id="01e949b2-409e-1870-8862-90264208d62e" class="project-item-container four">
          <a style="-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" href="#" class="project-item-text w-inline-block">
            <div class="project-item-text-detail">Scar&#x27;s Tragic Woods</div>
            <div class="project-item-text-detail-2">Customer jourrney</div>
          </a>
        </div>
        <div id="w-node-2c44ace88e2c-48b0a555" data-w-id="43327bee-233f-476f-54d2-2c44ace88e2c" class="project-item-container five">
          <a style="-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" href="#" class="project-item-text w-inline-block">
            <div class="project-item-text-detail">Chair and Sleeper</div>
            <div class="project-item-text-detail-2">movie teaser</div>
          </a>
        </div>
        <div id="w-node-d280fa0b4a9d-48b0a555" data-w-id="bdaacec2-5347-9d41-33fd-d280fa0b4a9d" class="project-item-container six">
          <a style="-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" href="#" class="project-item-text w-inline-block">
            <div class="project-item-text-detail">Wind of Valley</div>
            <div class="project-item-text-detail-2">public advertising</div>
          </a>
        </div>
        <div id="w-node-18a5a07f1c3f-48b0a555" data-w-id="0835a9a2-93cc-931f-398a-18a5a07f1c3f" class="project-item-container two">
          <a style="-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" href="#" class="project-item-text w-inline-block">
            <div class="project-item-text-detail">Edgeless</div>
            <div class="project-item-text-detail-2">Product Launch</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>